## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key


# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Dikson,73.5069,80.5464,8.62,89,100,15.21,RU,2022-04-17 04:38:03
1,1,Atuona,-9.8000,-139.0333,78.78,80,73,16.60,PF,2022-04-17 04:38:04
2,2,Popondetta,-8.7537,148.2534,87.06,65,99,5.10,PG,2022-04-17 04:38:04
3,3,Saint-Philippe,-21.3585,55.7679,79.21,81,25,11.01,RE,2022-04-17 04:38:04
4,4,Talnakh,69.4865,88.3972,15.15,93,96,17.22,RU,2022-04-17 04:38:04

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Atuona,-9.8000,-139.0333,78.78,80,73,16.60,PF,2022-04-17 04:38:04
2,2,Popondetta,-8.7537,148.2534,87.06,65,99,5.10,PG,2022-04-17 04:38:04
3,3,Saint-Philippe,-21.3585,55.7679,79.21,81,25,11.01,RE,2022-04-17 04:38:04
9,9,Yaan,7.3833,8.5667,77.94,82,87,3.18,NG,2022-04-17 04:38:06
20,20,Saint-Pierre,-21.3393,55.4781,79.29,70,0,2.30,RE,2022-04-17 04:38:09
22,22,Pasni,25.2631,63.4710,82.54,75,6,6.02,PK,2022-04-17 04:38:09
26,26,Cayenne,4.9333,-52.3333,80.10,1,40,1.99,GF,2022-04-17 04:38:11
27,27,Cabo San Lucas,22.8909,-109.9124,76.30,56,100,10.65,MX,2022-04-17 04:37:04
31,31,Rikitea,-23.1203,-134.9692,78.69,67,17,14.70,PF,2022-04-17 04:33:56
37,37,Tuburan,6.6439,122.2736,86.09,73,97,7.09,PH,2022-04-17 04:38:13

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID       152
City          152
Lat           152
Lng           152
Max Temp      152
Humidity      152
Cloudiness    152
Wind Speed    152
Country       152
Date          152
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
1,1,Atuona,-9.8000,-139.0333,78.78,80,73,16.60,PF,2022-04-17 04:38:04
2,2,Popondetta,-8.7537,148.2534,87.06,65,99,5.10,PG,2022-04-17 04:38:04
3,3,Saint-Philippe,-21.3585,55.7679,79.21,81,25,11.01,RE,2022-04-17 04:38:04
9,9,Yaan,7.3833,8.5667,77.94,82,87,3.18,NG,2022-04-17 04:38:06
20,20,Saint-Pierre,-21.3393,55.4781,79.29,70,0,2.30,RE,2022-04-17 04:38:09
...,...,...,...,...,...,...,...,...,...,...
537,537,Dalby,-27.1833,151.2667,81.99,33,14,1.01,AU,2022-04-17 04:51:36
538,538,Xochihuehuetlan,17.9167,-98.4333,78.58,42,59,4.65,MX,2022-04-17 04:51:36
542,542,Aswan,24.0934,32.9070,84.96,12,40,5.97,EG,2022-04-17 04:51:37
545,545,Morondava,-20.2833,44.2833,80.29,87,2,7.23,MG,2022-04-17 04:52:38
546,546,Cap Malheureux,-19.9842,57.6142,81.46,81,57,11.99,MU,2022-04-17 04:52:38

In [7]:
clean_df.columns

Index(['City_ID', 'City', 'Lat', 'Lng', 'Max Temp', 'Humidity', 'Cloudiness',
       'Wind Speed', 'Country', 'Date'],
      dtype='object')

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
1           Atuona      PF     78.78  -9.8000 -139.0333
2       Popondetta      PG     87.06  -8.7537  148.2534
3   Saint-Philippe      RE     79.21 -21.3585   55.7679
9             Yaan      NG     77.94   7.3833    8.5667
20    Saint-Pierre      RE     79.29 -21.3393   55.4781
22           Pasni      PK     82.54  25.2631   63.4710
26         Cayenne      GF     80.10   4.9333  -52.3333
27  Cabo San Lucas      MX     76.30  22.8909 -109.9124
31         Rikitea      PF     78.69 -23.1203 -134.9692
37         Tuburan      PH     86.09   6.6439  122.2736

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row['Lat']
    lng = row['Lng']
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Atuona,PF,78.78,-9.8000,-139.0333,Villa Enata
2,Popondetta,PG,87.06,-8.7537,148.2534,Timos Transit House
3,Saint-Philippe,RE,79.21,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
20,Saint-Pierre,RE,79.29,-21.3393,55.4781,Lindsey Hôtel
22,Pasni,PK,82.54,25.2631,63.4710,Kashmiri Hotal

In [11]:
# 8a. Create the output File (CSV)
output_data_file = 'WeatherPy_vacation.csv'
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Max Temp} °F</dd>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [15]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig
#print(fig)

Figure(layout=FigureLayout(height='420px'))